<div class="container  top-0">
    <nav class=" navbar-expand-lg   " style="background-color:transparent;">
      <!-- Container wrapper -->
      <div class="container-fluid ">
        <!-- Toggle button -->
        <button
          data-mdb-collapse-init
          class="navbar-toggler"
          type="button"
          data-mdb-target="#navbarCenteredExample"
          aria-controls="navbarCenteredExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
    
        <!-- Collapsible wrapper -->
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarCenteredExample"
        >
          <!-- Left links -->
          <ul class="navbar-nav mb-2 mb-lg-0 text-light">
            <li class="nav-item">
              <a class="nav-link text-light active pe-5" aria-current="page" href="/shop">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light pe-5" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light pe-5" href="/tarcking">Tracking</a>
              </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
</div>