<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking</title>
    <link rel="stylesheet" href="/css/tracking.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css"
rel="stylesheet"
/>
</head>
<body>
    <video autoplay muted loop>
        <source src="/website_images/CompressedBackground.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <!DOCTYPE html>
      <html>
      
      <head>
        <meta charset="utf-8" />
        <title></title>
        <style>
          * {
            box-sizing: border-box;
          }
        </style>
      </head>
      
      <body style="background-color: #f4f4f4; font-family: Roboto, arial, sans-serif">
        
        <div style="max-width: 550px; background-color: white; margin: 160px auto 0 auto; padding: 20px 60px 80px 60px;">

          <div style="  font-size: 30px; font-weight: 300; margin-top: 20px; text-align: center;"> Email Confirmed!</div>
          <br />
          <p>Congratulations! Your email has been verified and your account is ready. Please close this page and go back to home.</p>
          <div class=" box-sizing: border-box; width: 100%;">
            <br />
            <br />
            <div style="font-size: 18px; text-align: center">
              Welcome to our world!
            </br>
            </br>
              <a class="btn" style="background-color: #008000; color: #f4f4f4;" href="/">Back</a>
            </div>
            
          </div>
           

        </div>
      </body>
      
      </html>
</body>
</html>


