<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contact</title>
  
  <link rel="stylesheet" href="/css/styles.css">
  

</head>
<body>
    <video autoplay muted loop>
        <source src="/website_images/CompressedBackground.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    <div class="form-main">
       
        <div class="main-wrapper">
          <h2 class="form-head">Contact From</h2>
          <form class="form-wrapper">
            <div class="form-card">
              <input
                class="form-input"
                type="text"
                name="full_name"
                required="required"
              />
              <label class="form-label" for="full_name">Full Name</label>
            </div>
  
            <div class="form-card">
              <input
                class="form-input"
                type="email"
                name="email"
                required="required"
              />
              <label class="form-label" for="email">Email</label>
            </div>
  
            <div class="form-card">
                <input
                  class="form-input"
                  type="email"
                  name="email"
                  required="required"
                />
                <label class="form-label" for="email">Phone number</label>
              </div>
    
  
              <div class="form-card">
                <textarea
                  class="form-textarea"
                  maxlength="420"
                  rows="3"
                  name="phone_number"
                  required="required"
                  placeholder="Description"
                ></textarea>
                
              </div>
            <div class="btn-wrap">
              <button> Submit </button>
            </div>
          </form>
        </div>
      </div>
</body>
</html>
