<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css"
  rel="stylesheet"
/>

<link
            rel="icon"
            href=
"/images/icon/home-logo.png"
            type="image/x-icon"
        />
        
</head>
<body style="overflow: hidden;">

<section class="showcase">
  
    <video src="/website_images/CompressedBackground.mp4" muted loop autoplay></video>
    
    <div class="overlay"></div>
    <div class="container navigation d-flex justify-content-center align-items-center ">
        <div class="row">
            <div class="col text-center" style="margin-bottom: 280px;">
              
                <img src="/images/icon/home-logo.png" alt="Logo" class="logo" style="width: 250px; height: auto;">
              
                <a href="/shop" class="link">Shop</a>
                <br>
                <a href="#" class="link">Cart</a>
                <br>
                <a href="/tracking" class="link">Tracking</a>
                <br>
                <a href="/contact" class="link">Contact</a>
            </div>
        </div>
    </div>
</section>



</body>
</html>
