@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}


.loader-container {
  align-items: center;
  text-align: center;
  display: block;
  z-index: 100000000000;
  background-color: black;
  height: 100%;
  width: 100%;
}

.loader {
 
  font-size: 50px;
  color: #333;
  animation: growShrink 1.2s linear infinite;
}

  @keyframes growShrink {
    0% { 
      transform: scale(1); 
    }
    50% { 
      transform: scale(1.5); 
    }
    100% { 
      transform: scale(1); 
    }
  }


/* Customize the scrollbar width */
::-webkit-scrollbar {
  width: 7px;
  background-color: transparent; /* This makes the scrollbar background transparent */

}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent; /* This makes the scrollbar track background transparent */
  border: 1.5px solid rgba(25, 25, 25, 0.8); /* Slightly transparent border */

}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent thumb */
  border: 2px solid rgba(0, 0, 0, 0.8); /* Slightly transparent border */

}


body, html {
    
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.card{
    width: 100% !important; /* Set a maximum width for the card */
  background-color: transparent !important;
  box-shadow: none !important;
  
}
.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}



.showcase .content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover {
  letter-spacing: 6px;
}

.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  position: relative;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

.menu ul li a:hover {
  color: #03a9f4;
}

@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 3em;
  }

  .text h3 {
    font-size: 2em;
  }
}

.navigation {
  margin-top: 100px;
}

.link {
  display: inline-block;
  font-size: 1em;
  padding: 5px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  margin-top: 10px;
  color: #ffffff;
  letter-spacing: 8px;
  transition: font-size 0.2s;
}

.link:hover {
  font-size: 1.2em;
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
}

.container {
  z-index: 10000000000;
}

.nav-link {
  display: inline-block;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 8px;
  transition: font-size 0.2s;
}

.main-text
{
  display: inline-block;
  font-size: 1.8em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 12px;
  transition: font-size 0.2s;
  padding-left: 25px;
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
}
.nav-link:hover {
  font-size: 1.1em;
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
}
.showcase {
  position: relative;
  width: 100%;
  min-height: 130vh;
  overflow: auto;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showcase .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.container.navigation {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

.logo-container {
  width: 100%; /* Make the container full width */
  max-width: 350px; /* Optional: Set a maximum width */
}

.logo {
  width: 100%; /* Make the image take up 100% of its container */
  height: fit-content; /* Maintain the aspect ratio */
  
}


.link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 2px 0;
  display: block;
  
}

.nav-link {
  font-weight: 700 !important;
}